.loader {
    margin: 0.5rem;
    position: relative;
    width: 5.5rem;
    height: 5.5rem;
    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
    border-radius: 50%;
    animation:  spin 1s ease-in-out infinite; }
    /*свг и/или анимация*/

.loader:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 5.3rem;
    height: 5.3rem;
    background-color: #ffffff;

}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

